.article {
    .banner {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        max-height: 85vh;
        place-items: center;
        position: relative;


        &::before {
            content: '';
            @apply absolute top-0 left-0 h-full w-full bg-black opacity-35 z-[2] block;
        }

        img {
            grid-area: 1 / 1 / 6 / 2; 
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: relative;
        }

        h1 {
            grid-area: 3 / 1 / 4 / 2;
            color: var(--white);
            position: relative;
            z-index: 2;
        }

        p {
            grid-area: 4 / 1 / 5 / 2;
            color: var(--white);
            position: relative;
            z-index: 3;
        }

    }
}

.article-card {

    & > div::before {
        content: '';
        @apply absolute h-full w-full bg-black bg-opacity-40 top-0 left-0 block z-[1];
    }

    &:hover img {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    &::before {
        display: none;
    }

    img {
        @apply  object-cover w-full;
    }

    h2 {
        @apply text-2xl block z-[2];
    }

    &:hover h2 {
        transform: translateY(-5px);
        transition: transform ease-in 0.2s;
    }
}

.wysiwyg img {
    @apply max-h-[70vh] w-full object-cover;
}