.slider {
    a {
        @apply h-full w-full relative block;
        img {
            @apply h-full w-[80%] md:w-[10vw] mx-auto object-contain;
        }
    }

    .swiper-slide {
        position: relative;
        height: auto;
        &::before {
            content: '';
            @apply top-0 left-0 absolute h-full w-full;
        }  
    }

   &.avis {
    .swiper-slide {
        &::before {
            content: '';
            @apply bg-transparent;
        }  
    }
   }

}

.galerie-realisations .swiper .swiper-button-prev,
.galerie-realisations .swiper .swiper-button-next {
    background-color: transparent;
}

.galerie-realisations .swiper .swiper-button-prev::after,
.galerie-realisations .swiper .swiper-button-next::after {
    color: var(--white);
    font-size: 2.5rem;
    font-weight: bold;
}