* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Aspekta', sans-serif;
    color: var(--black-ascent);
}

html,body {
    font-size: clamp(14px, calc(16 * 100vw / 1440), 1rem);
    background-color: var(--light-bg);
}

:root {
    --green-ascent: var(--primary-color, #344e41);
    --green-light-ascent: var(--secondary-color, #a3b18a);
    --blue-ascent: var(--blue-color, #698396);
    --black-ascent: var(--light-white-color, #141614);
    --grey-ascent: var(--white-color, #969191);
    --grey-light-ascent: #DEDEDE;
    --light-bg: #fffbf5;
    --white: #FFFFFF;
}

img, video {
    @apply rounded-xl;
}

.active-text h2{
    @apply text-green-light-ascent;
}


.modulaire p {
    @apply text-white;
}

.calendly-badge-widget {
    left: 20px;
    bottom: 20px;
    right: auto;
    z-index: 10;
}

.calendly-badge-widget .calendly-badge-content {
    @apply rounded-xl;
}